.header-block,
.content-block,
.footer-block {
    /* limit width of page blocks */
    max-width: 1024;

    /* center page blocks */
    margin: 0 auto;
}

.header-block,
.footer-block {
    /* give some outline color so we can see separation */
    outline: 1px solid #EEEEEE;
}

body {
    /* get rid of body margin */
    margin: 0;

    /* set default text color */
    color: #606060;
}

.header-block .logo {
    /* give the header block logo some dimensions */
    width: 80px;
    height: 80px;
    margin: auto;

    /* also give outline color so we can see */
    outline: 1px solid #f5f5f5;
}

.header-block {
    /* some padding */
    padding: 10px;

    /* fix so that padding is subtracted from element dimensions instead of added */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    /* set font */
    font-family: 'Alex Brush';
}

.header-block .title,
.header-block .tagline {
    /* center title and tagline */
    text-align: center;

    /* fix title and tagline margins */
    margin: 10px 0 0;
}

/* now about font sizing ... let's try [rem units](http://snook.ca/archives/html_and_css/font-size-with-rem) */
html {
    /* magic 62.5% so that 0.1rem is 1px at default zoom */
    font-size: 62.5%;

    /* whoa, the text just got small so set back to 12px - I mean 1.2rem */
    font-size: 1.2rem;
}

.header-block .title {
    /* make the title font bigger */
    font-size: 3.9rem;
}

.content-block {
    /* separate from header */
    margin-top: 20px;

    /* fix box sizing again so padding doesn't add to total width of block */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content-block .images-block {
    /* give some outline color so we can see */
    outline: 1px solid #EEEEEE;
}

.content-block .images-block .image-container {
    /* give the image container relative width */
    width: 70%; /* 600px when page is at 960px */
    max-width: 700px;

    /* need height to be scaled with width. Trying the [bottom padding trick](http://stackoverflow.com/questions/11243075/css-scale-height-to-match-width-possibly-with-a-formfactor#answer-11243324) */
    /* pixel is no good. percent is based on parent height. but apparently padding is based on parent width */
    padding-bottom: 52.4%; /* 450px height at a width of 600px */

    /* center container horizontally on page */
    margin: auto;

    /* non-static position so we can position .image-wrappers */
    position: relative;
}

.content-block .images-block .image-wrapper {
    /* fit to container */
    height: 100%;
    width: 100%;

    /* stack images by positioning relative to container */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* give background color so other images don't show through */
    background-color: #f5f5f5;

    /* hide overflow in case img is wider than wrapper */
    overflow: hidden;
}

.content-block .images-block .image-wrapper img {
    /* fit img to wrapper height */
    height: 100%;

    /* center in wrapper */
    margin: auto;
    display: block;
}

.content-block .images-block .previous,
.content-block .images-block .next {
    /* reset some default button styles */
    border: none;
    background: transparent;
    display: block;

    /* make font color gray */
    color: #EEEEEE;

    /* increase font-size */
    font-size: 7rem;

    /* center text in clickable area */
    text-align: center;

    /* we want cursor */
    cursor: pointer;

    /* set responsive width */
    width: 50%;

    /* fix box sizing again so padding doesn't add to total width of block */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    /* position relative to top of block */
    position: absolute;
    top: 0;

    /* fix height and vertical alignment */
    min-height: 100%;
}

.content-block .images-block .previous {
    left: 0;

    /* push button text from center of image container */
    padding-right: 35%;
    padding-left: 0;
}

.content-block .images-block .next {
    right: 0;

    /* push button text from center of image container */
    padding-left: 35%;
    padding-right: 0;
}

.content-block .images-block {
    /* non-static position so previous and next will position properly */
    position: relative;
}
