.header-block,
.content-block,
.footer-block {
    /* limit width of page blocks */
    max-width: 960px;

    /* center page blocks */
    margin: 0 auto;

    /* give some background color so we can see separation */
    outline: 1px solid #eeeeee;
}

/* get rid of body margin */
body {
    margin: 0;
}

.header-block .logo {
    /* give the header block logo some dimensions */
    width: 160px;
    height: 160px;

    /* also give background color so we can see */
    outline: 1px solid #f5f5f5;

    /* float left so title and tagline can line up to the right */
    float: left;
}

.header-block {
    /* fix the header to contain the floating logo */
    overflow: auto;

    /* some padding */
    padding: 10px;

    /* fix so that padding is subtracted from element dimensions instead of added */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header-block .title,
.header-block .tagline {
    /* push away from logo */
    padding-left: 180px;
}

.header-block .title {
    /* remove title margin */
    margin: 0;
}

/* now about font sizing ... let's try [rem units](http://snook.ca/archives/html_and_css/font-size-with-rem) */
html {
    /* magic 62.5% so that 0.1rem is 1px at default zoom */
    font-size: 62.5%;

    /* whoa, the text just got small so set back to 12px - I mean 1.2rem */
    font-size: 1.2rem;
}

.header-block .title {
    /* make the title font bigger */
    font-size: 3.9rem;
}

.header-block .tagline {
    /* explicitly set tagline margin */
    margin: 20px 0 0;
}

.content-block {
    /* separate from header */
    margin-top: 20px;

    /* add some padding in content block - but not on top since we already have 20px */
    padding: 0 10px 10px;

    /* fix box sizing again so padding doesn't add to total width of block */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content-block .images-block .image-container {
    /* give the image container relative width */
    width: 60%; /* 600px when page is at 960px */

    /* need height to be scaled with width. Trying the [bottom padding trick](http://stackoverflow.com/questions/11243075/css-scale-height-to-match-width-possibly-with-a-formfactor#answer-11243324) */
    /* pixel is no good. percent is based on parent height. but apparently padding is based on parent width */
    padding-bottom: 45%; /* 450px height at a width of 600px */

    /* give background color so we can see it */
    outline: 1px solid #f5f5f5;

    /* center container horizontally on page */
    margin: auto;

    /* non-static position so we can position .image-wrappers */
    position: relative;
}

.content-block .images-block .image-wrapper {
    /* fit to container */
    height: 100%;
    width: 100%;

    /* stack images by positioning relative to container */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* give background color so other images don't show through */
    background-color: #f5f5f5;

    /* hide overflow in case img is wider than wrapper */
    overflow: hidden;
}

.content-block .images-block .image-wrapper img {
    /* fit img to wrapper height */
    height: 100%;

    /* center in wrapper */
    margin: auto;
    display: block;
}

.content-block .images-block .previous,
.content-block .images-block .next {
    /* reset some default button styles */
    border: none;
    background: transparent;
    display: block;

    /* make font color gray */
    color: #eeeeee;

    /* increase font-size */
    font-size: 7rem;

    /* center text in clickable area */
    text-align: center;

    /* we want cursor */
    cursor: pointer;

    /* set background color so we can see it */
    outline: 1px solid #f5f5f5;

    /* set responsive width */
    width: 20%;

    /* padding trick, controls height and centers text */
    padding: 15% 0 30%;
    height: 0;
    vertical-align: top;

    /* fix box sizing again so padding doesn't add to total width of block */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    /* position relative to top of block */
    position: absolute;
    top: 0;
}

.content-block .images-block .previous {
    left: 0;
}

.content-block .images-block .next {
    right: 0;
}

.content-block .images-block {
    /* non-static position so previous and next will position properly */
    position: relative;
}
